@import "roomStyle.css";

.container {
  width: 60vw;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 40px auto;
}

.connect-room form {
  margin: 20px;
}

.connect-room input{
  width: 200px;
  height: 34px;
}

.connect-room button {
  width: 120px;
  height: 40px;
  margin-left: 8px;
}